{% extends 'base.html' %}

{% block title %}
    Registrar Empleado
{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Registrar Empleado</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Nombre:
                        {{ form.first_name }}
                    </label>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Apellidos:
                        {{ form.last_name }}
                    </label>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Trabajo:
                        {{ form.job }}
                    </label>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Departamento:
                        {{ form.departamento }}
                    </label>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Habilidades:
                        {{ form.habilidades }}
                    </label>
                </div>
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Foto:
                        {{ form.avatar }}
                    </label>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}