{% extends 'base.html' %}

{% block content %}

{% include "includes/header.html" %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Lista Empleados</h1>
        </div>
    </div>
    <form class="row" method="GET">{% csrf_token %}
        <div class="col-8">
            <input  id="kword" name="kword" class="form-control" type="text" placeholder="Buscar Empleado">
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRES</th>
                    <th scope="col">APELLIDOS</th>
                    <th scope="col">DEPARTAMENTO</th>
                    <th scope="col">ACCION</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                        <tr>
                            <td>{{ e.id }}</th>
                            <td>{{ e.first_name }}</td>
                            <td>{{ e.last_name }}</td>
                            <td>{{ e.departamento }}</td>
                            <td><a class="btn btn-primary" href="{% url 'persona_app:empleado_detail' e.id %}" role="button">Ver</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="row">
        {% if is_paginated %}
        <nav aria-label="...">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item disabled">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Atras</a>
                </li>
                {% endif %}
                
                {% for pagina in paginator.page_range %}

                {% if pagina == page_obj.number %}
                <li class="page-item active" aria-current="page"><a class="page-link">{{ pagina }}</a></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a>
                </li>
                {% endif %}
                
                {% endfor %}
                
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>
</div>

{% endblock content %}

    